//
//  Config.xcconfig
//  Diagnostic Test
//
//  Created by Eli Madsen on 2/13/19.
//  Copyright © 2019 Eli Madsen. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTO_STARTUP = false
DISPLAY_QR = true
PRINT_FOR_IOS_DEVICES = false
