<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>Text.icns</string>
			<key>CFBundleTypeName</key>
			<string>text</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>SpecialAny.icns</string>
			<key>CFBundleTypeName</key>
			<string>special/any</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>ApplicationBinary.icns</string>
			<key>CFBundleTypeName</key>
			<string>application/binary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Mactracker</string>
	<key>CFBundleHelpBookFolder</key>
	<string>MactrackerHelp.help</string>
	<key>CFBundleHelpBookName</key>
	<string>MactrackerHelp</string>
	<key>CFBundleIconFile</key>
	<string>Mactracker.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.mactrackerapp.Mactracker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mactracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.7.3</string>
	<key>CFBundleSignature</key>
	<string>Mctr</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Mactracker</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mactracker</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.7.3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>7.7.3, Copyright 2001-2018 Ian Page</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://update.mactracker.ca/appcast-b.xml</string>
</dict>
</plist>
